/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-pillar-press-notification-box  {
  background: transparent;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}
