/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.pillar_press_notify_info,
.pillar_press_notify_success,
.pillar_press_notify_warning,
.pillar_press_notify_error {
  margin: 10px 0px;
  padding: 15px;

}
.pillar_press_notify_info {
  color: #126899;
  background-color: #3d9cd2;
  border: 1px solid #126899;
}

.pillar_press_notify_success {
  color: #044f2c;
  background-color: #0f834d;
  border: 1px solid #044f2c;
}

.pillar_press_notify_warning {
  color: #9d9c49;
  background-color: #fdfdcb;
  border: 1px solid #9d9c49;
}

.pillar_press_notify_error {
  color: #a0260b;
  background-color: #e2401c;
  border: 1px solid #a0260b;
}

.pillar_press_notify_text {
  margin: 0 auto !important;
}
